.App {
  text-align: center;
}

button {
    margin: 3px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 5px;
}


.city {
  background: white;
  border: solid 2px black;
  border-radius: 10px;
  width: 100px;
  padding: 5px;
  cursor: pointer;
}
.city.inactive {
  color: gray;
  border-color: gray;
}
.city.start {
  border-color: green;
}
.city.end {
  border-color: yellow;
}

.map {
   height: 100vh;
   width: 100%;
}

.paths {
  width: 300px;
  position: fixed;
  left: 3px;
  top: 3px;
  z-index: 1;
  background: white;
  padding: 20px;
  border: solid 2px black;
  border-radius: 10px;
}

.path {
  margin: 30px 0;
  cursor: pointer;
}

.path.selected {
  font-weight: bold;
}

.path .cities {
  display: flex;
  flex-wrap: wrap;
}

.path .cities div {
  flex-shrink: 0;
}
